nav{
    background-color: antiquewhite;
}

nav,ul{
    display: flex;
    padding: 10px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

li{
   list-style-type: none;
    font-size: 2rem;
}